.buttons {
    align-items: center;
    display: grid;
    grid: 0 1 auto;
    border-radius: 8px;
    position: relative;
}
.buttonsContainer {
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    height: 100%;
    outline: none;
    padding: 3px 16px;
    width: 100%;
    z-index: 2;
}

.signUp {
   text-decoration: none;
   
}
.signUp:hover,
.signUp:focus {
    color: rgb(203, 122, 200);
    text-shadow: rgb(155, 118, 155);
}
.logIn {
    padding-right: 20px;
}
.logIn:hover,
.logIn:focus {
    color: rgb(94, 44, 92);
    text-shadow: rgb(175, 154, 175);
}